attrs==17.4.0
boto3==1.5.26
botocore==1.8.40
docutils==0.14
jmespath==0.9.3
pkg-resources==0.0.0
pluggy==0.6.0
py==1.5.2
pytest==3.4.0
python-dateutil==2.6.1
pyzmq==16.0.4
s3transfer==0.1.12
six==1.11.0
